PORT=8787
KILN_API_KEY=
KILN_BASE_URL=https://api.bricksum.com/v1
TRON_NETWORK=shasta
SHASTA_RPC=https://api.shasta.trongrid.io
CONTRACT_ADDRESS=
OWNER_PRIVATE_KEY=
AGENT_PRIVATE_KEY=
TRON_OWNER_ADDRESS=TTMWWb3XEtQ3C7i8vBB2xiZShNgWsuEdZK
TRON_AGENT_ADDRESS=TUNZmDHYGUKuk2yQcEn9YVSm8oZRtNbcRj
MERCHANT_SEOUL_BOWL_ADDRESS=TDLxYZ1KbF6kvcDeJeyKB6pFv157h8xitt
MERCHANT_HAN_TABLE_ADDRESS=TB2sCSX5RDK8GMFT1ZTSsR8FsP1nWPFM5b
MERCHANT_HAN_TABLE_EXPRESS_ADDRESS=TDiTQkRBsW6Z7v15s5gYMi1SHKz1VGQkFe
